@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ultra&display=swap');
@import url('https://fonts.cdnfonts.com/css/kapakana');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ultra&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #F8F8F8;
  object-fit: cover;
  box-sizing: border-box;
  overflow-x: hidden;
}
header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  height: 80px;
  width: 70%;
  text-transform: uppercase;
  font-family: poppins;
  color: #000;
  margin-left: 250px;
  margin-top: 100px;

}header h1{
  font-size: 1.3rem;
  font-weight: 700;
  margin-left: 40px;
}

header .heading {
  font-family: "poppins";
  font-size: 1.3rem;
  font-weight: 700;
  margin-right: 40px;
}.modal-open {
  overflow: hidden;
  height: 100vh;
}.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: rgb(94, 87, 87);
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  height: 100px;
  width: 500px;
  font-family: inter;
  font-weight: 500;
}.modal-btn{
  font-family: poppins;
  color: rgb(20, 20, 20);
  font-weight: 600;
  height: 40px;
  width: 60px;
  margin-top: 20px;
  font-size: 1.05rem;
  margin-right: 20px;
  border-radius: 10px;
  border: none;
  background-color: #4B4B4B;
}.modal-btn:hover{
  color: #D9D9D9;
  background-color: #080808;
}
.content {
  display: none;
}
.name{
    font-family: "kapakana";
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    margin-top: 300px;
    text-transform: capitalize  ;

}.container{
    margin-top: 100px;
    font-family: poppins;
    font-size: 1rem;
}.container p{
    font-family: poppins;
    font-size: 1.3rem;
    font-weight: 500;
    width: 70%;
    text-align: center;
    margin-left: 250px;
    margin-top: 70px;

}.container img{
    margin-left: 600px;
    margin-top: 100px;
}.container h1{
    margin-left: 100px;
}.side-aside{
    display: flex;  
    margin-top: 0px;
  
  }.side-aside-img{
    width: 513px;
    height: 1153px;
    margin-left: 50px;

  }.side-aside p{
    text-transform: capitalize;
    color: #000;
    font-family: poppins;
    text-align: center;
    width: 900px;
    margin-top: 380px;
    margin-left: 200px;
    font-size: 1.3rem;
    font-weight: 500;

  }.btn{
    width: 300px;
    height: 60px;
    background-color: #D9D9D9;
    margin-top: 50px;
    margin-left: 800px;
    border-radius: 40px;
    border: none;
  
    
  }.btn a{
    
    text-decoration: none;
    font-size: 3rem;
    background-color: #D9D9D9;
    color: #4B4B4B;
    font-family: kapakana;
    text-transform: capitalize;
    text-align: center;
    
  }.footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px; 
  }.footer a {
    text-decoration: none;
    color: #4B4B4B;
    font-family: kapakana;
    font-size: 4rem;
    text-transform: capitalize;
  }.footer-side{
    margin-top: 0px;
  }