@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ultra&display=swap');
@import url('https://fonts.cdnfonts.com/css/kapakana');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ultra&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  background :linear-gradient(#1F1E20 0% , #373737 100%);
  object-fit: cover;
  box-sizing: border-box;
  overflow-x: hidden;
}
header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  height: 80px;
  width: 100%;
  text-transform: uppercase;
  font-family: poppins;
  color: #C9BEAF;
  

}header h1{
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 40px;
}

header .heading {
  font-family: "poppins";
  font-size: 1.5rem;
  font-weight: 700;
  margin-right: 40px;
}
.bg-img{
  height: 1080px;
  width: 1920px;
}.brief{
  color: #C9BEAF;
  font-family: "poppins";
  font-size: 1.2rem;
  width: 1000px;
  text-align: center;
  margin-top: 1120px;
  margin-left: 450px;
}.bg-img1{
  margin-top: 30px;
}.bg-img2{
  display: flex;
  justify-content: center;
  margin-top: 30px; 
  gap: 20px;
}.brief2{
  margin-top: 30px;
  color: #C9BEAF;
  font-family: "poppins";
  font-size: 1.2rem;
  text-align: center;
  width: 1000px;
  margin-left: 450px; 
}.btn{
  width: 300px;
  height: 60px;
  background-color: #1F1E20;
  margin-top: 50px;
  margin-left: 800px;
  border-radius: 40px;
  border: none;

  
}.btn a{
  
  text-decoration: none;
  font-size: 3rem;
  background-color: #1F1E20;
  color: #F1EBE7;
  font-family: kapakana;
  text-transform: capitalize;
  text-align: center;
  
}.footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 50px;
  margin-right: 50px; 
}.footer a {
  text-decoration: none;
  color: #C9BEAF;
  font-family: kapakana;
  font-size: 4rem;
  text-transform: capitalize;
}
